





<h1>Index</h1>

<a href="/Ratelists/Create">Create New</a> |
<a href="/Ratelists/Edit">Edit</a> |
<a href="/Ratelists/Details">Details</a> |
<a href="/Ratelists/Delete">Delete</a> |
<table class="table" style="width:70%">
    <thead>
        <tr>
            <th>Diaper Id</th>
            <th>Diaper Name</th>
            <th>Diaper Size</th>
            <th>Diaper Price</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>Bona Papa plus</td>
        <td>S</td>
        <td>550</td>
    </tr>
    <tr>

        <td>2</td>
        <td>Bona Papa plus</td>
        <td>M</td>
        <td>600</td>
    </tr>
</table>
