<script>

    var Diapers = [{
        "ID": 1,
        "DName": "Good care",
        "DSize": "M",
        "DPrice": 650,
    }, {
        "ID": 2,
        "DName": "Royal ",
        "DSize": "S",
        "DPrice": 650,
    }, {
        "ID": 3,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 4,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 5,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 6,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 7,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 8,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }, {
        "ID": 9,
        "DName": "Royal ",
        "DSize": "M",
        "DPrice": 700,
    }];

</script>


@(Html.DevExtreme().DataGrid()
    .ID("gridContainer")
    .ShowBorders(true)
    .DataSource(new JS("Diapers"))
    .KeyExpr("ID")
    .RemoteOperations(false)
    .AllowColumnReordering(true)
    .RowAlternationEnabled(true)
    .ShowBorders(true)

    .Columns(c => {
        c.Add().DataField("DName");
        c.Add().DataField("DSize");
        c.Add().DataField("DPrice");


    })

)

<div id="gridContainer"></div>

